@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');


    /*  */
    
    /* font-family: 'Big Shoulders Display', cursive; */


:root {
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lexend Deca', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.cards {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.Sedans, .SUVs, .Luxury {
    width: 33.33333333333333%;
    height: 100%;
    padding: 50px;
    color: var(--very-light-gray);
}


.Sedans h2, .SUVs h2, .Luxury h2 {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 45px;
    text-transform: uppercase;
    padding: 45px 0;
}

.Sedans p, .SUVs p, .Luxury p {
    font-size: 15px;
    font-weight: 100;
    color: var(--transparent-white);
    margin-bottom: 50px;
    line-height: 2;
}
.Sedans button, .SUVs button, .Luxury button {
    padding: 10px 40px;
    margin-top: 60px;
    border: none;
    outline: none;
    font-size: 17px;
    font-weight: 100;
    color: var(--very-light-gray);
    background-color: transparent;
    text-transform: capitalize;
    border: var(--very-light-gray) solid 2px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
}

.Sedans button:hover, .SUVs button:hover, .Luxury button:hover {
    background-color: var(--very-light-gray);
    
}

.Sedans button:hover {
    color: var(--Bright-orange);
}

.SUVs button:hover {
    color: var(--Dark-cyan);
}

.Luxury button:hover {
    color: var(--Very-dark-cyan);
}

.Sedans {
    background-color: var(--Bright-orange);
    border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -ms-border-radius: 10px 0 0 10px;
    -o-border-radius: 10px 0 0 10px;
}



.SUVs {
    background-color: var(--Dark-cyan);
}

.Luxury {
    background-color: var(--Very-dark-cyan);
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
}

.attribution {
    font-size: 11px; text-align: center;
}

.attribution p {
    font-weight: 100;
    font-size: 12px;
    color: hsl(233, 47%, 7%);
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width:1000px) {
    .container {
        height: 900px;
    }
    .cards {
        width: 90%;
    }
}

@media (max-width:850px){

    .container {
        height: 1800px;
    }

    .cards {

        flex-flow: column;
    }

    .Sedans, .SUVs, .Luxury {
        width: 90%;
        text-align: center;
    }

    .Sedans {
        border-radius: 10px 10px 0 0;
        -webkit-border-radius: 10px 10px 0 0;
        -moz-border-radius: 10px 10px 0 0;
        -ms-border-radius: 10px 10px 0 0;
        -o-border-radius: 10px 10px 0 0;
}
    .Luxury {
        border-radius: 0 0 10px 10px;
        -webkit-border-radius: 0 0 10px 10px;
        -moz-border-radius: 0 0 10px 10px;
        -ms-border-radius: 0 0 10px 10px;
        -o-border-radius: 0 0 10px 10px;
}
}

